/* jumbotron */

.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff
}


/* project */

#projects {
    background-color: #e2edff
}


/*akhir project  */

section {
    padding-top: 5rem;
}